
h1{
	text-align: center;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	font-size: 70px;
	color: white;
	text-shadow: 3px 3px #4B0082;
	font-family: 'Luckiest Guy', cursive;
}

body{
	background-color: #836FFF;
}

p{
	text-align: center;
	margin: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	font-size: 30px;
	color: white;
	text-shadow: 2px 2px #4B0082;
	font-family: 'Luckiest Guy', cursive;
}

select{
	font-family: 'Luckiest Guy', cursive;
	width: 200px;
	height: 50px;
	font-size: 20px;
	padding-left: 40px;
	border-radius: 20px;
	color: #4B0082;
	text-shadow: 1px 1px #836FFF;
	border: none;
}


input{
	font-family: 'Luckiest Guy', cursive;
	width: 200px;
	height: 100px;
	font-size: 30px;
	padding-left: 40px;
	border-radius: 20px;
	border: none;
	color: #4B0082;
	text-shadow: 1px 1px #836FFF;
}

.side{
	width: 40%;
	text-align: center;
	height: 250px;
	float: left;
	padding-top: 150px;
	border-radius: 70px;
	background-color: rgba(25,25,112, .5);

}
#center{
	background-color: rgba(25,25,112, .3);
	width: 20%;
	text-align: center;
	float: left;
	height: 400px;
	border-radius: 70px;



}

button{
	width: 250px;
	height: 70px;
	font-size: 40px;
	border-radius: 20px;
	border: none;
	color: white;
	text-shadow: 2px 2px #4B0082;
	align-self: center;
	font-family: 'Luckiest Guy', cursive;
	background-color: rgba(25,25,112, .5);
}
#butto{
	background-color: #836FFF;
	width: 100%;
	text-align: center;
	float: left;
	height: 80px;
	padding-top: 10px;

}
